.loader-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff11;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.invalid-error {
  text-align: center;
  color: #fff;
  margin: 0rem 0rem 0.4rem;
}
.wave-container {
  width: 250px;
  height: 60px;
  background-color: #ffff;
  border-radius: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 3px solid #f2436d;
}
.wave {
  width: 5px;
  height: 65%;
  margin: 0rem 0.5rem;
  background-color: #f2436d;
  border-radius: 1rem;
  animation: waveAnimation1 0.3s ease-in-out 0s infinite alternate forwards;
}

.wave:nth-child(2) {
  animation: waveAnimation2 0.3s ease 0.2s infinite alternate forwards;
}
.wave:nth-child(3) {
  animation: waveAnimation3 0.4s ease 0.23s infinite alternate forwards;
}
.wave:nth-child(4) {
  animation: waveAnimation4 0.3s ease 0.1s infinite alternate forwards;
}
.wave:nth-child(5) {
  animation: waveAnimation1 0.3s ease 0.5s infinite alternate forwards;
}
.wave:nth-child(6) {
  animation: waveAnimation2 0.5s ease 0s infinite alternate forwards;
}
.wave:nth-child(8) {
  animation: waveAnimation4 0.25s ease 0.4s infinite alternate forwards;
}
.wave:nth-child(9) {
  animation: waveAnimation3 0.3s ease 0.15s infinite alternate forwards;
}

@keyframes waveAnimation1 {
  0% {
    transform: scaleY(1);
  }
  0% {
    transform: scaleY(0.5);
  }
}
@keyframes waveAnimation2 {
  0% {
    transform: scaleY(0.3);
  }
  0% {
    transform: scaleY(0.6);
  }
}
@keyframes waveAnimation3 {
  0% {
    transform: scaleY(0.6);
  }
  0% {
    transform: scaleY(0.8);
  }
}
@keyframes waveAnimation4 {
  0% {
    transform: scaleY(0.2);
  }
  0% {
    transform: scaleY(0.5);
  }
}
